*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
  scroll-padding-top: 200px;
}
body
{
    font-family:"Montserrat", sans-serif;
}
.container
{
    padding-left: 100px;
    padding-right:100px;
}
p{
    padding: 0;
    margin: 0;
}
html{
    scroll-padding-top:100px ;
}
a
{
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}
:root
{
    --fontfamily:"Montserrat", sans-serif;
   
}
/*======================= home================ */

.home
{   
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.664)), url("../imgs/imgs/bg.jpg");
    /* background-attachment: fixed; */
     background-position: center center;
     background-size: cover;
     position: relative;
}
.navola
{
    position: fixed;
    /* background-color: #111; */
    z-index: 444444444;
    top: 0;
    left: 0;
    right: 0;
   
}
.bg-body-tertiary
{
    background-color: transparent !important;
}
.navbar-brand
{
    color: white;
    font-size: 18px;
    font-weight: 800;
    font-family: var(--fontfamily);
}

.nav-link{
    color: white;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show
{font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
   
}
.nav-link:focus, .nav-link:hover {
    color: white;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: white;
}
.home-text
{
    /* transform: translatey(-15px); */
    /* margin-top: 13%; */
    /* background-color: antiquewhite; */
    color: white;
    font-weight: 600;
    font-family: var(--fontfamily);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.home-text p{
    color: white;
    font-weight: 600;
    font-family: var(--fontfamily);
    font-size: 72px;
}
.nav-item 
{
    position: relative;
}
.underlineforhome
{
    width: 70%;
height: 2px;
background-color: white;
}
.aunderline
{
width: 0;
height: 2px;
background-color: white;
transition: all 1s;

}
.nav-item:hover .aunderline
{
    width: 70%;
}
.home-text ul i{
    font-weight: 400;
    font-size: 14px;
    color: white;
    position: absolute;
    margin: auto;
    

   

}
.home-text .cirlce-icon
{
    background-color: black;
    border: solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 10px;
    border-color: black;
    text-align: center;
}
.home-text p
{
    font-size: 50px;
    font-family: var(--fontfamily);
    font-weight: 800;
}
.home-text span
{
    font-size: 60px;
    font-family: var(--fontfamily);
    font-weight: 200;
}
.home-text .script
{
   
    font-weight: 400;
}
/*================ about===================== */
.about
{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.for-image img
{
    width: 80%;
    height: 100%;
   
    margin-left: 80px;
    position: relative;
}

.dot-layer
{
    
    position: absolute;
    
   top: 200px;
   
   left:60px;
  
   width: 300px;
   height: 420px;

        z-index: -22;
       
        background-image: url(../imgs/imgs/dots.png);
        background-repeat: repeat;
       
    
}

.for-text h3
{
    font-size: 30px;
    font-family: var(--fontfamily);
    font-weight: 800;
    
}
.progress-bar
{
    background-color: black;
  
    
}
.progress
{
    margin-top: 30px;
    height: 30px;
}
.for-buttons span
{
  font-size: 13px;
  font-weight: 400;
}
.for-buttons button
{
    width: 150px;
}
 .about .cv
{ background-color: black;

   
    color: white;
    transition: all 0.5s;
}
.about .cv:hover
{color: black;
    background-color: white;

}
.about .contact
{ background-color:white;

   
    color:black;
    transition: all .0.5s;
}
.about .contact:hover
{color:white;
    background-color: black;

}

/* =============services==================== */
.services
{
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
}
.section-text
{
    width: 400px;
    margin: auto;
    margin-bottom: 80px;
}
.section-text h3
{
font-family: var(--fontfamily);
font-size: 40px;
font-weight: 900;
position: relative;
}
.section-text h3::after
{
    content: "";
    width: 100%;
    height: 10px;
    background-image: url(../imgs/imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    

}
.div-icon i{
    font-size: 30px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

    
    transition: all 1s;
    
    
 }
  .div-icon{
     background-color:#F7F7F7;
 position: relative;
     display: inline-block;
     width:70px ;
     height: 70px;
     border-style: solid;
     border-width: 10px;
     border-color: #F7F7F7;
     border-radius: 50%;
     margin: 20px 0 15px 0;
    
 }
 
  .design:hover .div-icon{
    
     background-color: black;
     border-color: black;
 }
 .design:hover i{
     color: white;
 }
 .services .design h2 {
     font-size:18px;
     font-weight: 800;
     font-family: var(--fontfamily);
     color: 
     #1E1E1E;
 }
 .services .design p
 {
     font-size:14px;
     font-weight: 400;
     font-family: "Poppins", sans-serif;
     color:rgb(116, 129, 130);
     padding-left:10px;
     padding-right: 10px;
    
 }
 .more-round
 { 
     margin-top: 15px;
     border-radius: 5px;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
 }
 /*============= porfolio============== */
 .portvolio
 {
     width: 100%;
     height: 100%;
     padding-top: 100px;
     padding-bottom: 100px;
 }
  .portvolio .portfolio-img
 {
    position: relative;
 }

 .portvolio .layer
{
    position: absolute;
    width: 97%;
    height: 97%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(2px);
}
.portfolio-img:hover .layer
{
    opacity: 1;
    transform: translateY(-2px);
}
.text-layer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-layer h6
{
    font-size: 12px;
    font-weight: 700;
    font-family: var(--fontfamily);
}
.icons-layer i
{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    transition: all 0.5s;
}

.icons-layer i:hover{
    color: black;
    background-color: white;
}
.icons-layer,.text-content
{
    transition: all 0.5s;

}
.portfolio-img:hover .icons-layer
{
    transform: translatey(-8px);

}

.portfolio-img:hover .text-content
{
    transform: translatey(8px);

}
.portvolio .nav-pills
{
    
    border-radius: 0%;
    background-color: transparent;
    --bs-nav-pills-link-active-color: var(--bs-black);
    --bs-nav-pills-link-active-bg: var(--bs-white);
}
.portvolio .nav-tabb
{
    width: 400px;
}
.portvolio .nav-link 
{
    color: black;
}
 .portvolio .nav-item button
{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 70px;
}
.portvolio .nav-item
{
    position: relative;
}
.portvolio #pills-home-tab::after
{  content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;

}
.portvolio .nav-item::after
{  content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: all 0.5s;

}
.portvolio .nav-item:hover:after
{
    width: 80%;
}

 /*============= testimonial=========== */
 .testmonial
 {
     width: 100%;
     height: 100%;
     padding-top: 100px;
     padding-bottom: 100px;
 }
 /* .slider
{
    padding-top: 200px;
    padding-bottom: 200px;
} */
.slider-image
{
    width: 10%;
 
    
    
    margin: auto;
    margin-bottom: 20px;
}
.slider-image img{
    width: 100%;
    border-style: solid;
    border-radius: 50%;
    border-color: transparent;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    transform: translatey(50px);
    border-style: solid;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:#5B5B5B;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    margin-top: 10px;
    transition: all 0.5ms;
}
.carousel-indicators [data-bs-target]:hover
{
    background-color: #869791;
}
.dicoration-for-carasol
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
   
}
.slider-text p, .slider-text span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: 
    rgb(116, 129, 130);
}
.slider-text h6
{
    margin-top: 20px;
    font-family: var(--fontfamily);
    font-weight: 600;
    font-size: 16px;

}
.slider-text span
{
    font-size: 12px;
    font-weight: 600;
}
/*============== counter================== */
.bb
 {
     width: 100%;
     height: 100%;
     padding-top: 100px;
     padding-bottom: 100px;
 }
 
.counter .counter-ico
{
    width: 60px;
    height: 60px;
    
    font-size: 30px;
}
   
.counter .counter-ico i{
    font-size: 30px;
   

}
.text-counter p
{
    color: 
   
#748182;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--fontfamily);
}
.text-counter h3
{
   
    font-size: 30px;
    font-weight: 900;
    font-family: var(--fontfamily);
}
.counter-ico
{
    margin: auto;
    translate: 0 30px;
    
}
/* ===============our team============== */
.our-team
{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.card-body
{
    background-color: #5B5B5B;
}
.card-body h4,.card-body h5
{
    font-size: 25px;
    font-weight: 500;
    font-family: var(--fontfamily);
}
.card-body h5
{
    font-size: 20px;
    font-weight: 700;
}
.img-card img
{
    transition: all 0.5s;
}
.img-card
{
    position: relative;
    overflow: hidden;
}
.card
{
    position: relative;
}
.img-card
{
    position: relative;
}

.our-team .icons-layer

{
    width:80% ;
    position: absolute;
    top: 50%;
   
    left: 50%;
   transform: translate(-50%,-50%);

}

 .our-team .icons-layer i
{
    
 font-size: 20px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background-color: #111;
    color: #eee;
    transition: all 0.5s;
}

.icons-layer i:hover{
    color: black;
    background-color: white;
}
.img-card .top-layer
{
    position: absolute;
   
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    
    text-align: center;
    opacity: 0; 
   
   
   top: 5px;
   
   left: 5px;
   right: 5px;
   bottom: 5px;

  transform: scale(0.5,0.5) rotatey(180deg);
    transition: all 0.5s; 
   
   
    
   
}
.card:hover .top-layer {
    
    opacity: 1;
    
    
    transform: rotatey(0deg) scale(1,1);   


}
.card:hover img
{
    transform: scale(1.2,1.2);
}
/* =================contact========== */
.contact-us
{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-us .div-icon i
{
    font-size: 25px;
}
.contact-us .div-icon
{
    width: 50px;
    height: 50px;
}
.contact-us h6
{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--fontfamily); 
}
.contact-us p
{
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.contact-us .contact-us-form input
{
     width: 100%; 
     margin:20px 0 20px 0 ; 
    background-color: #F4F4F4;
    height: 40px;
    border: solid;
    border-radius: 5px;
    border-color: #F4F4F4;
    border-radius: 5px;
    
}
.contact-us-form textarea
{ width: 100%;
    
    background-color: #F4F4F4;
    
    border: solid;
    border-radius: 5px;
    border-color: #F4F4F4;
    border-radius: 5px;

} 
.contact-us-form button
{
   
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;

}
.contact-us-form button:hover{
color: black;
background-color: white;
border: 1px solid #111;

}



/* ============footer============ */
.footer p
{font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: 
    rgb(116, 129, 130);
}